body{
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}
.container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
h1 small {
    display: block;
    font-size: 12px;
    font-weight: normal;
}
.box {
    display: inline-block;
    background-color: #999;
    height: 90px;
    width: 94px;
}
.block {
    width: 400px;
    height: 374px;
    margin: 0 auto;
    background-color: #ccc;
    padding: 4px 0;
}